# Java
*.class
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbproject/private/
build/
dist/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Maven
log/
target/

# Gradle
.gradle/
build/

# Others
*.swp
*~
